{
  "cloudant":{
    "username": "insert username",
    "password": "insert password",
    "url": "insert url"
  },
  "conversation":{
    "username": "insert username",
    "password": "insert password",
    "workspace_id" : "insert workspace_id"
    "workspace_id_dup" : "insert workspace_id after creating a copy in later steps"
  }
}
